/************************************
*** Set Font Family ***
*************************************/
/**********************************
*** Dark Theme Color Palettes ***
***********************************/
/**********************************
*** For Defining Base Url Of Assets folder ***
*** $base-url: 'https://cdn.example.com/assets/'; => When You Use CDN ***
***********************************/
/**
 * Clear inner floats
 */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate & Bootstrap:
 * https://github.com/h5bp/html5-boilerplate/blob/a2356c1cbfc560c2b140d4ab507c2a4fdc9f58f0/src/css/main.css#L119
 * https://github.com/twbs/bootstrap/blob/cf5d94f6d5685c371dcb157af74a3c6b14ec8d8e/scss/mixins/_screen-reader.scss
 * https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 * https://kittygiraudel.com/2016/10/13/css-hide-and-seek/
 * https://www.a11yproject.com/posts/how-to-hide-content/
 */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.unable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.d-none {
  display: none;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Set root font size to 10px
 */
:root {
  font-size: 62.5%;
}

/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Remove default margin
 */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/**
 * Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
 */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/**
 * Set core root defaults
 */
html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Set core body defaults
 */
body {
  min-height: 100vh;
  position: relative;
}

/**
 * A elements that don't have a class get default styles
 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a[class] {
  text-decoration: none;
}

/**
 * Make images easier to work with
 */
img,
picture,
video,
iframe {
  max-width: 100%;
  display: block;
}

/**
 * Inherit fonts for inputs and buttons
 */
input,
button,
textarea,
select {
  font: inherit;
}

/**
 * Remove all animations, transitions and smooth scroll for people that prefer not to see them
 */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Open Sans", sans-serif;
  font-display: block;
  text-rendering: auto;
  line-height: 1.5;
}

/**
 * stop text from getting too wide by limiting how wide the container can be
 */
article {
  line-height: 1.65;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.treadmill-body {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.incline-tools-wrapper {
  width: 100%;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(4rem + 2vw) 0;
}

.incline-tools-wrapper > * + * {
  margin-top: calc(4rem + 2vw);
}

@media only screen and (min-width: 575.99px) {
  .incline-tools-wrapper {
    width: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media only screen and (min-width: 767.99px) {
  .incline-tools-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 991.99px) {
  .incline-tools-wrapper {
    width: 20%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.speed-tools-wrapper {
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(4rem + 2vw) 0;
}

.speed-tools-wrapper > * + * {
  margin-top: calc(4rem + 2vw);
}

@media only screen and (min-width: 575.99px) {
  .speed-tools-wrapper {
    width: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media only screen and (min-width: 767.99px) {
  .speed-tools-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 991.99px) {
  .speed-tools-wrapper {
    width: 20%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.monitor-wrapper {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 991.99px) {
  .monitor-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 60%;
    border-radius: 0 0 calc(1rem + 0.5vw) calc(1rem + 0.5vw);
  }
}

.treadmill-handler-wrapper {
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(4rem + 2vw) 0;
}

.treadmill-handler-wrapper > * + * {
  margin-top: calc(4rem + 2vw);
}

@media only screen and (min-width: 575.99px) {
  .treadmill-handler-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: calc(2rem + 1vw) 0;
  }
  .treadmill-handler-wrapper > * + * {
    margin-top: 0;
  }
}

@media only screen and (min-width: 767.99px) {
  .treadmill-handler-wrapper {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media only screen and (min-width: 991.99px) {
  .treadmill-handler-wrapper {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.treadmill-header {
  width: 100%;
  text-align: center;
  padding: calc(1rem + 0.5vw);
  z-index: 100;
}

.treadmill-header h1 {
  font-size: calc(3rem + 0.5vw);
  font-weight: 400;
}

.tool-button {
  width: calc(8rem + 2vw);
  height: calc(8rem + 2vw);
  border: 0;
  outline: 0;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 250ms ease, -webkit-transform 200ms ease;
  transition: -webkit-box-shadow 250ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 250ms ease, transform 200ms ease;
  transition: box-shadow 250ms ease, transform 200ms ease, -webkit-box-shadow 250ms ease, -webkit-transform 200ms ease;
  cursor: pointer;
  font-size: calc(1rem + 0.25vw);
  font-weight: 400;
}

.tool-button.active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.monitor-button {
  width: calc(9rem + 3vw);
  height: calc(9rem + 3vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  outline: 0;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 250ms ease, -webkit-transform 100ms ease;
  transition: -webkit-box-shadow 250ms ease, -webkit-transform 100ms ease;
  transition: box-shadow 250ms ease, transform 100ms ease;
  transition: box-shadow 250ms ease, transform 100ms ease, -webkit-box-shadow 250ms ease, -webkit-transform 100ms ease;
}

.monitor-button__title {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.monitor-button__icon {
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
  margin: calc(0.6rem + 0.3vw) 0;
}

.monitor-button__message {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
}

.monitor-button__message--small {
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 400;
}

.control-body {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: auto;
}

.control-body__path {
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(3rem + 1.5vw) 0;
}

.control-body__path > * + * {
  margin-top: calc(3rem + 1.5vw);
}

@media only screen and (min-width: 575.99px) {
  .control-body__path {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 767.99px) {
  .control-body__path {
    width: 25%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.control-body__calories {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 767.99px) {
  .control-body__calories {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.control-body__calories img {
  width: calc(8rem + 4vw);
  height: calc(8rem + 4vw);
}

.control-body__calories-message {
  font-size: calc(2rem + 0.5vw);
  font-weight: 400;
  text-align: center;
}

.control-body__calories-message span {
  font-size: calc(3rem + 0.5vw);
}

.control-body__heat {
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(3rem + 1.5vw) 0;
}

.control-body__heat > * + * {
  margin-top: calc(3rem + 1.5vw);
}

@media only screen and (min-width: 575.99px) {
  .control-body__heat {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 767.99px) {
  .control-body__heat {
    width: 25%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.primary-bg--dark {
  background-color: #1b1b1b;
}

.secondary-bg--dark {
  background-color: #141414;
}

.tertiary-bg--dark {
  background-color: #0a0a0a;
}

.light-bg--dark {
  background-color: #eeeeee;
}

.primary-color--dark {
  color: #eeeeee;
}

.secondary-color--dark {
  color: #bdbdbd;
}

.dark-color--dark {
  color: #141414;
}

.treadmill-header--dark-shadow {
  -webkit-box-shadow: 0px 4px 6px #0a0a0a;
          box-shadow: 0px 4px 6px #0a0a0a;
}

@media only screen and (min-width: 1499.99px) {
  .treadmill-header--dark-shadow {
    -webkit-box-shadow: 0px 8px 10px #0a0a0a;
            box-shadow: 0px 8px 10px #0a0a0a;
  }
}

.tool-button--dark-shadow {
  -webkit-box-shadow: 4px 4px 6px #0a0a0a, -2px -2px 4px #424242;
          box-shadow: 4px 4px 6px #0a0a0a, -2px -2px 4px #424242;
}

.tool-button--dark-shadow:hover, .tool-button--dark-shadow:focus {
  -webkit-box-shadow: 4px 4px 6px #0a0a0a, -2px -2px 4px #424242, inset 4px 4px 6px #0a0a0a, inset -2px -2px 4px #424242;
          box-shadow: 4px 4px 6px #0a0a0a, -2px -2px 4px #424242, inset 4px 4px 6px #0a0a0a, inset -2px -2px 4px #424242;
}

.monitor-button--dark-shadow {
  -webkit-box-shadow: 4px 4px 6px #bdbdbd, -2px -2px 4px #fafafa;
          box-shadow: 4px 4px 6px #bdbdbd, -2px -2px 4px #fafafa;
}
/*# sourceMappingURL=main.css.map */