// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/************************************
*** Set Font Family ***
*************************************/
$openSans: 'Open Sans', sans-serif !default;

/**********************************
*** Dark Theme Color Palettes ***
***********************************/
$palettes: (
  white: (
    100: #fafafa,
    200: #1d1818,
    300: #eeeeee,
    400: #e0e0e0,
    500: #bdbdbd,
    600: #9e9e9e,
    700: #757575,
    800: #616161,
    900: #424242,
  ),
  black: (
    100: #2e2e2e,
    200: #2b2b2b,
    300: #212121,
    400: #1b1b1b,
    500: #141414,
    600: #111111,
    700: #0a0a0a,
    800: #080808,
    900: #000000,
  ),
);

/**********************************
*** For Defining Base Url Of Assets folder ***
*** $base-url: 'https://cdn.example.com/assets/'; => When You Use CDN ***
***********************************/
$base-url: '/assets/' !default;
